<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Libre Franklin", "sans-serif";
        font-style: normal;
    }
    div {
        text-align: center;
        margin-top: 30pt;
    }
    h1 {
        color: black;
        font-size: 18px;
        font-style: normal;
    }
    h2 {
    	color: black;
    	font-size: 14px;
    	font-style: normal;

    }
    h3 {
    	color: #4682b4;
    	font-size: 18px;
    	font-weight: bold;
    }
    h4 {
    	color: red;
    	font-size: 14px;
    	font-weight: normal;
    }
    p {
    	color: black;
        font-size: 14px;
        font-style: normal;
    }
    textarea {  
	   font-size: 14px;
	   color: gray;
	   font-style: italic;
	}
	.button {
		background-color: #4682B4;
		border: none;
		color: white;
		padding: 5px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		border-radius: 4px;
		transition-duration: 0.2s;
		cursor: pointer;
	}
	.button:hover {
	    background-color: #B9D3EE;
	    color: gray;
	}

	#title{
		width:250px;   
	}

	#level{
		width:219px;   
	}

	#company{
		width:205px;   
	}

	#living_index{
		width:180px;   
	}



</style>


<div>
    <h1>Salary Prediction</h1>
    <h2>Please fill in the specified fields below. To obtain results, click the "Predict Salary" button.<h2>
    <center><h4><span id='error'>{{error_msg}}</span></h4></center>

	<form action="{{ url_for('predict') }}" method="post">
		<label for="title">Job Type:</label>
		<select name="title" id="title">
			<option value="scientist" {% if title=="scientist"%} selected {% endif %}>Scientist</option>
		    <option value="analyst" {% if title=="analyst"%} selected {% endif %}>Analyst</option>
		    <option value="engineer" {% if title=="engineer"%} selected {% endif %}>Engineer</option>
		    <option value="manager" {% if title=="manager"%} selected {% endif %}>Manager</option>
		    <option value="sales" {% if title=="sales"%} selected {% endif %}>Sales</option>
		    <option value="other" {% if title=="other"%} selected {% endif %}>Other</option>
		</select>
  		<br><br>

  		<label for="level">Position Level:</label>
  		<select name="level" id="level">
			<option value="senior" {% if level=="senior"%} selected {% endif %}>Senior</option>
		    <option value="junior" {% if level=="junior"%} selected {% endif %}>Junior</option>
		    <option value="intern" {% if level=="intern"%} selected {% endif %}>Intern / Part-Time</option>
		    <option value="manager" {% if level=="manager"%} selected {% endif %}>Manager</option>
		    <option value="n/a" {% if level=="n/a"%} selected {% endif %}>None Specified</option>
		</select>
  		<br><br>

  		<label for="company">Company Name:</label>
  		<input type="text" id="company" name="company" value="{{ request.form['company'] }}"><br><br>

  		<label for="living_index">Cost of Living Index:</label>
  		<input type="text" id="living_index" name="living_index" value="{{ request.form['living_index'] }}"><br><br>

		<center><h2> Please enter a full job description below. </h2></center>
		<center><textarea id="description" name="description" rows="10" cols="70" wrap="hard">{{ request.form['description'] }}
		</textarea></center>

		<br>
		<center><button class="button">Predict Salary</button><center>

	</form>

	


	<center><h3><span id='salary_prediction_text'>{{salary_prediction_text}}</span>
		<span id='salary-range'>{{salary_range}}</span></h3></center>


</div>